// colors
$blue: #E5EDF2;
$backgroundSite: #F7FCFF;
$mainColorText: #3F4A53;
$whiteBlack: #EEF8FF;
$brightBlue: #1786ED;
$white: #FFFFFF;
$disabled: #86C5FF;
$outlinedBorder: #6C7276;

$btnEffect: rgba(23, 134, 237, 0.08);
$overlay: rgba(0, 0, 0, 0.3);

$transparent: transparent;



// fonts
$fontSaira: 'Saira', sans-serif;

