@use './src/styles/mixins' as mixins;
@use './src/styles/variables' as vars;


.grid {
  padding: 24px 0;
  display: grid;
  grid-gap: 24px;
}

.gridColumn {
  grid-template-columns: 1fr;
}

.gridRow {
  grid-template-columns: repeat(4, minmax(200px, 1fr));
}
